<!-- <img src="../../../assets/house3.jpg" alt="Avatar of a House"> -->

<!-- <div class="row" *ngIf="view else v1"> -->

    <!-- <div class="nav-container container-fluid"> -->
        <!-- <mat-sidenav-container> -->
            <!-- <mat-sidenav mode="side" opened={{side}} class="example-sidenav"> -->

                <br>
                <br>
                <br>

                <mat-form-field>
                    <input matInput type="text" placeholder="Enter the Area" [(ngModel)]="area" (change)="filter_func()">
                </mat-form-field>
                <br>
                <br>
                <label>Property For:</label>
                <br>
                <br>
                <mat-radio-group aria-labelledby="Property For:" [(ngModel)]="sale_rent" (change)="filter_func()">
                    <mat-radio-button value="Sale">Sale</mat-radio-button>
                    <mat-radio-button value="Rent">Rent</mat-radio-button>
                    <mat-radio-button value="Both">Both</mat-radio-button>
                </mat-radio-group>
                <br>
                <label>Property Type:</label>
                <br>
                <mat-radio-group aria-labelledby="Property Type:" [(ngModel)]="prop_type" (change)="filter_func()">
                    <mat-radio-button value="House">House</mat-radio-button>
                    <mat-radio-button value="Apartment">Apartment</mat-radio-button>
                    <mat-radio-button value="Both">Both</mat-radio-button>
                </mat-radio-group>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Bedrooms:" [(ngModel)]="bedroom" (change)="filter_func()" type="number" min="0" oninput="validity.valid||(value='')"
                        #id5>
                    <mat-icon matSuffix>king_bed</mat-icon>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Bathrooms:" [(ngModel)]="bathroom" (change)="filter_func()" min="0" oninput="validity.valid||(value='')"
                        type="number">
                    <mat-icon matSuffix>bathtub</mat-icon>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Min Amount:" [(ngModel)]="min_amt" (change)="filter_func()" min="0" oninput="validity.valid||(value='')"
                        type="number">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Max Amount:" [(ngModel)]="max_amt" (change)="filter_func()" min="0" oninput="validity.valid||(value='')"
                        type="number">
                </mat-form-field>
                <br>
                <div class="example-button-row">
                    <button type="reset" mat-stroked-button class=" btn-primary" color="primary" (click)="clear_filters()" matTooltip="Click here to clear filters"
                        matTooltipPosition="right" matTooltipClass="mat-tooltip">Clear Filters
                    
                    </button>
                </div>
                <br>
                <br>
            <!-- </mat-sidenav> -->

            <!-- <mat-sidenav-content> -->

                <div class="loading-indicator">
                    <mat-spinner *ngIf=showspinner></mat-spinner>
                </div>


                <br>
                <br>

                <div class="container">
                    <div class="row">

                        <div class="col-md-4" *ngFor="let p of propertyArr">
                            <mat-card style="background-color:rgb(220, 239, 245)">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img mat-card-avatar src="{{p.imageUrls}}" alt="Avatar of a House">
                                    </div>
                                    <mat-card-title>

                                        {{p.price | currency :'INR':'symbol'}}


                                        <button mat-icon-button matSuffix (click)="click(p.propertyId,p.status_wishlist)"
                                         (click)="p.status_wishlist=!p.status_wishlist"
                                            *ngIf="userName;else see" [attr.aria-label]="'wishlist icon'" [attr.aria-pressed]="clicked">
                                            <mat-icon color="warn">{{p.status_wishlist ? 'favorite' : 'favorite_border'}}</mat-icon>
                                        </button>
                                        <ng-template #see>
                                            <button mat-icon-button matSuffix (click)="access('add this property to wishlist')" [attr.aria-label]="'wishlist icon'" [attr.aria-pressed]="clicked">
                                                <mat-icon color="warn">favorite_border</mat-icon>
                                            </button>
                                        </ng-template>
                                    </mat-card-title>
                                    <mat-card-subtitle>For {{p.propertyType}}</mat-card-subtitle>
                                </mat-card-header>
                                <div class="inner">
                                    <img mat-card-image src="{{p.imageUrls}}" alt="Photo of a House" height="150px" width="200px" class="rcorners2">
                                </div>

                                <mat-card-content>


                                    <div class="row">

                                        <div class="col-md-6">{{p.propertyArea}}sq.ft</div>
                                        <div class="col-md-6">{{p.noOfBedrooms}}Bhk{{p.buildingType}}</div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">{{p.furnishing}}</div>
                                        <div class="col-md-6">{{p.availability}}</div>

                                    </div>



                                    <mat-card-actions>




                                        <ng-template #owner>
                                            <span>Name: {{owner_name}}</span>
                                            <br>
                                            <span>Contact Number: {{owner_contact}}</span>
                                            <br>
                                            <span>Email-Id: {{owner_emailId}}</span>
                                        </ng-template>

                                        <div class="center">
                                            <button mat-stroked-button color="primary" layout-align="center" (click)="openDialog(owner,p)" matTooltip="Click here to Contact Owner"
                                                matTooltipPosition="right">Contact Owner</button>
                                            <br>
                                            <br>
                                        </div>

                                        <div class="center">


                                            <button mat-flat-button class="btn btn-primary" *ngIf="userLoggedIn;else go" layout-align="center" (click)="redirectfunc(p.propertyId)"
                                                matTooltip="Click here to View details" matTooltipPosition="below" matTooltipClass="mat-tooltip">View Details</button>
                                            <br>
                                        </div>

                                        <ng-template #go>
                                            <div class="center">
                                                <button mat-flat-button color="primary" (click)="snackView()" matTooltip="Click here to View Details" matTooltipPosition="below"
                                                    matTooltipClass="mat-tooltip">View Details</button>

                                                <br>
                                            </div>
                                        </ng-template>
                                    </mat-card-actions>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="example-card card-shadow" *ngIf="newCard">

                            </mat-card>

                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <button (click)="side_show()" class="center">
                    Filters
                </button>
                <br>
                <br>
            <!-- </mat-sidenav-content> -->
        <!-- </mat-sidenav-container> -->
    <!-- </div> -->
<!-- </div> -->
<br>
<br>
<!-- <ng-template #v1>
    <mat-card>
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols=3 gutterSize="20px">
                <mat-grid-tile colspan=1>
                    <img mat-card-image src="{{propertyArr.imageUrls}}" class="example-header-images" alt="House image">
                </mat-grid-tile>
                <mat-grid-tile colspan=2>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-card-header>
                                    <mat-card-title style="text-align: center">Description</mat-card-title>
                                </mat-card-header>
                                <br> {{propertyArr.description}}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                Price:{{propertyArr.price | currency :'INR':'symbol'}}
                            </div>
                            <div class="col-md-4">
                                Security Deposit:{{propertyArr.Advance | currency :'INR':'symbol'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Transaction Type:{{propertyArr.transactionType}}
                            </div>
                            <div class="col-md-4">
                                Age:{{propertyArr.ageOfProperty}}
                            </div>
                            <div class="col-md-4">
                                Availability:{{propertyArr.availabilityBy}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">

                                Bedrooms:
                                <span *ngFor='let in of counter(propertyArr.noOfBedrooms)'>
                                    <mat-icon>king_bed</mat-icon>
                                </span>
                            </div>
                            <div class="col-md-4">

                                Bathrooms:
                                <span *ngFor='let in of counter(propertyArr.noOfBathrooms)'>
                                    <mat-icon>bathtub</mat-icon>
                                </span>
                            </div>
                            <div class="col-md-4">

                                Balconies:
                                <span *ngFor='let in of counter(propertyArr.noOfBalconies)'>
                                    <mat-icon>king_bed</mat-icon>
                                </span>
                            </div>
                        </div>



                        <div class="row">
                            <ng-template #owner>
                                <span>Name: {{owner_name}}</span>
                                <br>
                                <span>Contact Number: {{owner_contact}}</span>
                                <br>
                                <span>Email-Id: {{owner_emailId}}</span>
                            </ng-template>
                            <div class="col-md-8 offset-2">
                                <button mat-raised-button style="align-content: center" (click)="openDialog(owner,propertyArr)" class="btn-primary btn-block">Contact owner</button>

                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 offset-1">
            <mat-card class="example-card" id="features">
                <mat-card-header>
                    <mat-card-title>Features</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <mat-list id="features">
                            <mat-list-item>
                                <div class="d-inline bg-primary text-white text-center box-1">Property Type : {{propertyArr.propertyType}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="d-inline bg-primary text-white text-center box-1">Ownership : {{propertyArr.propertyOwnership}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="d-inline bg-primary text-white text-center box-1">Building Type : {{propertyArr.buildingType}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="d-inline bg-primary text-white text-center box-1">Furnishing : {{propertyArr.furnishing}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="d-inline bg-primary text-white text-center box-1">Availability : {{propertyArr.availability}}</div>
                            </mat-list-item>
                        </mat-list>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3 ">
            <mat-card class="example-card" id="highlights">
                <mat-card-header>
                    <mat-card-title>Highlights</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <mat-list id="highlights">
                            <div class="row">
                                <div class="col-md-4" *ngIf="propertyArr.WaterSupplyFor24Hours">
                                    <div class="icon text-center">
                                        <mat-icon>waves</mat-icon>
                                        <br>
                                        <span class="caption">24 Hours Water Supply</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.CloseToSchool">
                                    <div class="icon text-center">
                                        <mat-icon>local_library</mat-icon>
                                        <br>
                                        <span class="caption">Close to School</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.CloseToHospital">
                                    <div class="icon text-center">
                                        <mat-icon>local_hospital</mat-icon>
                                        <br>
                                        <span class="caption">Close to Hospital</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.CloseToRailwayStation">
                                    <div class="icon text-center">
                                        <mat-icon>directions_railway</mat-icon>
                                        <br>
                                        <span class="caption">Close to Railway Station</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.CloseToBusStand">
                                    <div class="icon text-center">
                                        <mat-icon>directions_bus</mat-icon>
                                        <br>
                                        <span class="caption">Close to Bus Stand</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.CloseToAirport">
                                    <div class="icon text-center">
                                        <mat-icon>local_airport</mat-icon>
                                        <br>
                                        <span class="caption">Close to Airport</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.CloseToBank">
                                    <div class="icon text-center">
                                        <mat-icon>account_balance</mat-icon>
                                        <br>
                                        <span class="caption">Close to Bank</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.CloseToPark">
                                    <div class="icon text-center">
                                        <mat-icon>nature_people</mat-icon>
                                        <br>
                                        <span class="caption">Close to Park</span>
                                    </div>
                                </div>
                            </div>

                        </mat-list>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3 ">
            <mat-card class="example-card" id="amenities">
                <mat-card-header>
                    <mat-card-title>Amenities</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <mat-list id="highlights">
                            <div class="row">
                                <div class="col-md-4" *ngIf="propertyArr.lifts">
                                    <div class="icon text-center">
                                        <mat-icon></mat-icon>
                                        <br>
                                        <span class="caption">LIFTS</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.ac">
                                    <div class="icon text-center">
                                        <mat-icon></mat-icon>
                                        <br>
                                        <span class="caption">AC</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.heater">
                                    <div class="icon text-center">
                                        <mat-icon></mat-icon>
                                        <br>
                                        <span class="caption">HEATER</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.maintenenceStaff">
                                    <div class="icon text-center">
                                        <mat-icon>person</mat-icon>
                                        <br>
                                        <span class="caption">MAINTENANCE</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.visitorParking">
                                    <div class="icon text-center">
                                        <mat-icon>local_parking</mat-icon>
                                        <br>
                                        <span class="caption">PARKING</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.IntercomFacility">
                                    <div class="icon text-center">
                                        <mat-icon>settings_remo</mat-icon>
                                        <br>
                                        <span class="caption">INTERCOM</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.wifi">
                                    <div class="icon text-center">
                                        <mat-icon>wifi</mat-icon>
                                        <br>
                                        <span class="caption">WIFI</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.fireAlarm">
                                    <div class="icon text-center">
                                        <mat-icon></mat-icon>
                                        <br>
                                        <span class="caption">FIRE ALARM</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.WaterPurifier">
                                    <div class="icon text-center">
                                        <mat-icon></mat-icon>
                                        <br>
                                        <span class="caption">WATER PURIFIER</span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="propertyArr.PowerBackup">
                                    <div class="icon text-center">
                                        <mat-icon></mat-icon>
                                        <br>
                                        <span class="caption">POWER BACKUP</span>
                                    </div>
                                </div>
                            </div>
                        </mat-list>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</ng-template> -->