#bg-style{
    background-image: url("../../assets/back_1.gif");
background-size: cover;
background-position: center center;
position: relative;
height: 350px;

}
.new{
 
  margin-top: 80px;
  color: aqua;
  display: flex;
  font-weight:bold;
 
  
}
.new1{
background-color:rgb(48, 159, 199);
  height:60px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  box-shadow:10px;
  font-style:italic;
}
.new1:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-weight:bold
}
.sb{
  width:100%;
}
.mq{
margin-top:20px; 
}

.card_c{
margin-top: 10px;
margin-bottom: 50px;
}

.example-container {
background-color: white;
display: flex;
flex-direction: column;    
}
  
.example-container > * {
  width: 100%;
}

  


